<div class="span4">
	<div class="song-box">
		<div class="song-box-inner">
			<h4><%= song.name %></h4>
			<p><%= song.description %></p>
			<audio controls="controls">
				<source src="<%= song.wav_url %>" type="audio/wav" />
			</audio>
			<p><%= song.created_at %></p>
							<%= link_to '+1', upvote_song_path(song) %>
				<%= link_to '-1', downvote_song_path(song) %>
			<div class="btn-group btn-group-vertical">

				<button class="btn"><i class="icon-circle-arrow-up"></i></button>
				<button class="btn"><i class="icon-circle-arrow-down"></i></button>
				<button class="btn"><%= song.up_vote - song.down_vote %></button>
			</div>
		</div>
	</div>
</div>
