<p id="notice"><%= notice %></p>

<p>
  <b>Url:</b>
  <%= @song.url %>
</p>

<p>
  <b>User:</b>
	<%= User.where(:uid => @song.parent_id).first.email %>
</p>

<p>
  <b>Score:</b>
	<%= @song.up_vote - @song.down_vote %>
	<p>
		<%= @song.up_vote %>+ | <%= @song.down_vote %>-
	</p>
</p>



<%= link_to '+1', upvote_user_song_path(@song) %>
<%= link_to '-1', downvote_user_song_path(@song) %>
<%= link_to 'Edit', edit_song_path(@song) %> |
<%= link_to 'Back', songs_path %>
